<div class="grid grid-cols-4 gap-2 mt-5 mb-5">

    <div class="flex flex-wrap h-32 col-span-3  grid grid-rows-2 items-center justify-center rounded-xl bg-zinc-200">
        <span
            class="material-symbols-outlined  text-transparent bg-clip-text Pastel bg-gradient-to-tr from-violet-500 to-orange-300 text-6xl"
            x-text="Data.elevation > 0 ? 'trending_up' : 'trending_down'">
        </span>
        <div x-text="Data.elevation" class="font-mono font-bold  text-neutral-700"></div>
        <canvas id="chart" class=" absolute mb-4  w-full"></canvas>
    </div>
    <div class="flex flex-wrap col-span-1 items-center justify-center rounded-xl bg-zinc-200">
        <!-- Circle -->
        <div class="inline-flex items-center justify-center overflow-hidden rounded-full bottom-5 right-5">
            <!-- Building a Progress Ring: https://css-tricks.com/building-progress-ring-quickly/ -->
            <svg class="w-20 h-20 transform -rotate-90">
                <circle class="text-gray-300" stroke-width="10" stroke="currentColor" fill="transparent" r="40" cx="40"
                    cy="40" />
                <circle class="text-green-600 transition-all duration-300 " stroke-width="10"
                    :stroke-dasharray="30 * 3 * Math.PI"
                    :stroke-dashoffset="30 * 3 * Math.PI - Data.speed / 50 * 30 * 3 * Math.PI" stroke-linecap="round"
                    stroke="currentColor" fill="transparent" r="40" cx="40" cy="40" />
            </svg>
        </div>
        <span class=" font-mono font-bold  text-neutral-700" x-text="`${Data.speed}KM/H`"></span>
    </div>
</div>

